*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

h1{
  font-size:5rem;
  font-weight: 600;
}

h5{
  float: right;
  font-weight: lighter;
}
h3{
  font-size:3rem;
  margin-top: 8rem;
  float: right;
  font-weight: lighter;
}



body{
  height: 100vh;
  width: 100vw;
  color:white;
  background:black;
}

.answer{
  width: 100vw;
  height: 40vh;
  background: grey;
  font-family: 'Noto Sans JP', sans-serif;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}
.ques
{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 60vh;
  display:grid;
  background:black;
}

button{
  margin: 0;
  font-size: 3vh;
  width:24vw;
  height: 12vh;
  border:none;
  font-weight: bold;
  background:black;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  cursor: pointer;
}

.btn-mul, .btn-div, .btn-add, .btn-sub{
  justify-self: center;
  margin: 0;
  font-size: 3vh;
  width:24vw;
  height: 12vh;
  border:none;
  border-radius: 6vh;
  font-weight: bold;
  background:grey;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

.btn-equal{
  justify-self: center;
  margin: 0;
  font-size: 3vh;
  width:24vw;
  height: 12vh;
  border:none;
  border-radius: 6vh;
  font-weight: bold;
  background:rgba(185, 6, 6, 0.897);
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}


